<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<div class="mt-4">
    <div class="title">
        <h2>HOME PAGE</h2>
    </div>
    <div class="row">
        {{#each product}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
               <a href="/product/{{this.slug}}">
                    <img src="{{this.img}}" class="card-img-top my-img-css" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.cate}}</p>
                        <a href="#" class="btn btn-primary">Xem</a>
                    </div>
               </a>
            </div> 
        </div>
        {{/each}} 
    </div>
</div>