<div class="footer grid">
    <div class="footer__4-col row">
        <div class="footer__column col l-3 m-3 c-12">
            <h4 class="footer__column-title">HỖ TRỢ DỊCH VỤ</h4>
            <ul class="footer__column-ul">
                <li class="footer__column-item">Dịch vụ sửa chữa</li>
                <li class="footer__column-item">Hỗ trợ kĩ thuật</li>
                <li class="footer__column-item">Mua hàng Online</li>
                <li class="footer__column-item">Chăm sóc khách hàng</li>
            </ul>
        </div>
        <div class="footer__column l-3 m-3 c-12">
            <h4 class="footer__column-title ">CHÍNH SÁCH MUA HÀNG & BẢO HÀNH</h4>
            <ul class="footer__column-ul">
                <li class="footer__column-item">Chính sách bảo hành</li>
                <li class="footer__column-item">Chính sách bảo mật</li>
                <li class="footer__column-item">Chính sách mua hàng và đổi trả</li>
                <li class="footer__column-item">Chính sách giải quyết khiếu nại</li>
                <li class="footer__column-item"></li>
            </ul>
        </div>
        <div class="footer__column l-3 m-3 c-12">
            <h4 class="footer__column-title">THÔNG TIN REACT MOBILE</h4>
            <ul class="footer__column-ul">
                <li class="footer__column-item">Giới thiệu cửa hàng ReactMobile</li>
                <li class="footer__column-item">Hệ thống cửa hàng</li>
                <li class="footer__column-item associate">
                    <div class="contact-me">
                        Liên hệ chúng tôi
                        <div class="lienhect">
                            <div class="hotline">
                                Hotline:
                                <div class="hotline-link">19001198</div>
                            </div>
                            Hoặc
                            <div class="social">
                                <a href="" class="face"><i class="fab fa-facebook-square" style="color: #187dca "></i>
                                    ReactMobileVN</a>
                                <a href="" class="youtube"><i class="fab fa-youtube" style="color: red;"></i>
                                    ReactMedia</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer__column l-3 m-3 c-12">
            <h4 class="footer__column-title">PHƯƠNG THỨC THANH TOÁN</h4>
            <div class="method-list">
                <a href="" class="method">
                    <div class="method"><i class="fas fa-qrcode method"></i>QR code</div>
                </a>
                <a href="" class="method">
                    <div class="method"><i class="fas fa-wallet method"></i></i>Ví điện tử</div>
                </a>
                <a href="" class="method">
                    <div class="method"><i class="far fa-clock method"></i>Trả góp</div>
                </a>
                <a href="" class="method">
                    <div class="method"><i class="fas fa-money-check-alt method"></i> E-Banking</div>
                </a>
            </div>
            <div class="bank-list">
                <img src="./img/pay.jpg" alt="" class="bank-list">
            </div>

        </div>

    </div>
    <div class="footer__bottom row">
        <div class="footer__bottom-1 col l-6 m-6 c-12">
            <h4 class="inc-name">CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ REACT</h4>
            <div class="lisence">
                <i class="far fa-copyright"></i>
                Công ty Cổ Phần Thương Mại - Dịch Vụ React<br />
                Giấy chứng nhận đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM cấp lần đầu ngày 30 tháng 05 năm
                2007
            </div>
        </div>
        <div class="footer__bottom-2 col l-6 m-6 c-12">
            <b>Địa chỉ trụ sở chính:</b><br />
            Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh
            <br /> <b>Văn phòng điều hành miền Bắc:</b> <br />
            Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội
            <br /> <b>Văn phòng điều hành miền Nam:</b> <br />
            Tầng 11 Minh Long Tower, số 17 Bà Huyện Thanh Quan, Phường 6, Quận 3, TP. Hồ Chí Minh
        </div>
    </div>
</div>